.ticker {
    width: 150px;
    height: 100px;
    margin: 0 10px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

